@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #F4F4F4 !important;
  height: auto;
  max-height: 100px;
  font-family: Roboto, sans-serif !important;
}

.overlay-container {
  margin: 5px 10px;
}

.overlay-card {
  margin: 0 3px !important;
  padding: 4px 16px !important;
  width: auto !important;
  overflow-y: overlay;
  max-height: calc(100vh - 210px);
}

@media only screen and (max-width: 767px) {
  .ui.container.overlay-card {
      margin-left: 3px !important;
      margin-right: 3px !important;
  }
}

.default-badge {
  position: absolute;
  background-color: #5242bf;
  width: 35px;
  height: 35px;
  border-radius: 99em;
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dapplet-comments-menu {
  margin-top: 0 !important;
}

.dapplet-comments-menu > .item {
  margin-top: 1em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 100% !important;
  background-color: #F4F4F4 !important;
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.comment-header .author {
  margin-right: .5em !important;
}

.comment-header .metadata {
  margin-left: 0 !important;
  margin-right: .5em !important;
}

.dapplet-timeline-comments {
  margin: 0 19px !important;
}

/*.dapplet-timeline-comments > .bar > .progress {
  right: -10px !important;
}*/

.dapplet-double-timeline {
  position: relative;
  display: block;
  width: calc(100% - 36px);
  height: 40px;
  margin-top: 2.4em;
}

.dapplet-timeline-comments {
  position: absolute !important;
  width: 100%;
}

.ui.progress.dapplet-timeline-comments .bar {
  min-width: 0 !important;
}

.dapplet-timeline-comments.timestamp {
  background: none !important;
  padding: 0 22px !important;
}

.dapplet-timeline-comments.timestamp > .bar {
  background: none !important;
}

.dapplet-timeline-comments.activecomments {
  background: none !important;
  padding: 0 22px !important;
}

.dapplet-timeline-comments.activecomments > .bar {
  background: none !important;
}

.dapplet-timeline-comments.progressbar {
  opacity: .2;
  border: 1px solid !important;
}

.dapplet-timeline-comments.progressbar.touch {
  top: 12px !important;
  z-index: 5055;
  opacity: 0 !important;
  cursor: pointer;
}

.timeline-touch-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -34px;
  cursor: grabbing;
  z-index: -1;
}

.dapplet-timeline-comments.timestamp > .bar::before {
  position: absolute;
  color: #747376;
  padding: 3px 8px;
  background: white;
  border: 1px solid #5242bf;
  top: -6px;
  right: -2em;
  left: auto;
  border-radius: 99em;
  content: attr(data-timestamp);
  z-index: 5038;
}

.dapplet-timeline-comments.activecomments > .bar::before {
  position: absolute;
  padding: 5px;
  top: -42px;
  right: -17px;
  left: auto;
  content: url("./point.svg");
  z-index: 5038;
}

.dapplet-timeline-comments.activecomments > .bar::after {
  position: absolute;
  color: white;
  width: 40px;
  padding: 5px;
  top: -35px;
  right: -20px;
  left: auto;
  text-align: center;
  content: attr(data-activecomments);
  z-index: 5039;
}

.time-labels {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 19px 2px;
  color: #747376;
  font-size: 12px;
}

.eye-icon {
  opacity: .4 !important;
  cursor: pointer;
}

.eye-icon:hover {
  opacity: .8 !important;
}

.eye-icon:active {
  opacity: 1 !important;
}

.eye-icon-selected {
  opacity: .7 !important;
  cursor: pointer;
}

.eye-icon-selected:hover {
  opacity: .9 !important;
}

.eye-icon-selected:active {
  opacity: 1 !important;
}

.comment-active {
  background-color: white !important;
}

.comment-inactive {
  background-color: #F5F5F5 !important;
}

.comment-selected {
  background-color: rgba(120, 242, 230, 0.15) !important;
}

.comment-hidden {
  opacity: .4 !important;
}

.ui.comments .comment .avatar {
  height: 2.5em !important;
}

.no-comments {
  display: flex !important;
  position: relative;
  flex-direction: column;
  height: calc(45vh - 100px);
  justify-content: flex-end;
}

.dimmer {
  height: 100px;
}

.button-back {
  margin: 10px 10px 0;
  color: black;
  position: relative;
  display: flex;
  width: fit-content;
  align-items: baseline;
  opacity: .42;
}

.button-back:hover {
  opacity: .6;
}

.button-back:active {
  opacity: .8;
}

.button-back > button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.015em;
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

.button-back > button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}

.action-button {
  font-family: Roboto, sans-serif !important;
  width: fit-content;
  align-self: center;
  margin-top: 21px !important;
  min-height: 36px !important;
}

.authorisation-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: calc(100vh - 24px);
}

.authorisation-page-text {
  display: flex;
  height: calc(40vh - 50px);
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.authorisation-page-text h1 {
  font-family: Roboto;
  color: #2A2A2A;
}

.authorisation-page-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #919191;
}

.sticker-card {
  display: flex !important;
  flex-direction: row !important;
  background: none !important;
  padding: 2px !important;
  cursor: pointer;
  transform: none !important;
}

.sticker-card img {
  background: none !important;
}

.sticker-card .checkbox {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin: 3px 7px !important;
}

.ui.checkbox input~.box:before, .ui.checkbox input~label:before {
  background: white !important;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background: #5242bf !important;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  color: #fff !important;
}

.stickers-container {
  margin: 10px 0 0 !important;
  height: 300px;
  resize: vertical;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 2px 16px 12px;
}

@media only screen and (max-width: 767px) {
  .ui.container.stickers-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }
}

.ui.four.cards>.card {
  display: flex !important;
  align-items: center !important;
  width: 78px !important;
  height: 78px !important;
}

.ui.four.cards>.card img {
  position: absolute;
  max-width: calc(100% - 4px) !important;
}





.ui.checkbox {
  margin: 5px 20px 0 0;
}

.ui.feed > .event:first-child {
  margin-top: 5px !important;
}

.ui.feed > .event > .label {
  margin-top: 0.5em;
}

.ui.feed > .event > .content > .summary {
  margin-bottom: 5px !important;
}

.ui.feed > .event > .label img {
  border-radius: unset !important;
}

.ui.menu .right.item::before,
.ui.menu .right.menu > .item::before {
  content: none !important;
}

.ui.menu:after {
  content: none !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1) {
  font-size: 1.1rem !important;
  cursor: default;
  padding: 1.5em 1em 1.1em !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1):hover {
  background: none;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(2) {
  font-size: 1.1rem !important;
  padding: 1.1em 1em 1.5em !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(2).red {
  color: IndianRed !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(2).green {
  color: forestgreen !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1).connect {
  cursor: pointer;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1).connect > p {
  margin-bottom: auto;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1).connect > p > span {
  color: forestgreen;
}

.nft_counter {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  opacity: 0.6;
}

.notification {
  color: forestgreen;
}
