@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  background-color: #F4F4F4 !important;
  height: auto;
  max-height: 100px;
  font-family: 'Roboto', sans-serif !important;
}

.overlay-container {
  margin: 5px 10px;
}

.overlay-card {
  margin: 0 3px !important;
  padding: 4px 16px !important;
  width: auto !important;
  overflow-y: overlay;
  max-height: calc(100vh - 299px);
}

@media only screen and (max-width: 767px) {
  .ui.container.overlay-card {
      margin-left: 3px !important;
      margin-right: 3px !important;
  }
}

.default-badge {
  position: absolute;
  background-color: #5241bf;
  width: 35px;
  height: 35px;
  border-radius: 99em;
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dapplet-comments-menu {
  margin-top: 0 !important;
}

.dapplet-comments-menu > .item {
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 100% !important;
  background-color: #F4F4F4 !important;
}

.ui.tabular.menu.dapplet-comments-menu .active.item.menu-active-tab {
  border-radius: 6px 6px 0 0 !important;
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.comment-header .author {
  margin-right: .5em !important;
}

.comment-header .metadata {
  margin-left: 0 !important;
  margin-right: .5em !important;
}

.dapplet-timeline-comments {
  margin: 0 19px !important;
}

.dapplet-double-timeline {
  position: relative;
  display: block;
  width: calc(100% - 36px);
  height: 40px;
  margin-top: 2em;
}

.dapplet-double-timeline.cc {
  margin: 26px auto 26px 28px;
  width: calc(100% - 96px);
  min-height: 33px;
}

.dapplet-double-timeline.cc.current {
  margin-top: 30px;
  width: calc(100% - 96px);
}

.dapplet-timeline-comments {
  position: absolute !important;
  width: 100%;
}

.ui.progress.dapplet-timeline-comments .bar {
  min-width: 0 !important;
}

.dapplet-timeline-comments.timestamp {
  background: none !important;
  padding: 0 22px !important;
}

.dapplet-timeline-comments.timestamp > .bar {
  background: none !important;
}

.dapplet-timeline-comments.activecomments {
  background: none !important;
  padding: 0 22px !important;
}

.dapplet-timeline-comments.activecomments > .bar {
  background: none !important;
}

.dapplet-timeline-comments.progressbar {
  opacity: .2;
  border: 1px solid !important;
}

.dapplet-timeline-comments.progressbar.touch {
  top: 12px !important;
  z-index: 5055;
  opacity: 0 !important;
  cursor: pointer;
}

.ui.progress.dapplet-timeline-comments.progressbar.touch.сс {
  top: -8px !important;
}

.timeline-touch-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -72px;
  cursor: grabbing;
  z-index: 9999;
  display: none;
}

.timeline-touch-area.cc-current {
  height: 100px;
  top: -60px;
  left: -38px;
}

/* --- CC Timeline --- */

.dapplet-timeline-comments.progressbar.cc-base {
  opacity: 1;
  border: 1px solid #e3e3e3 !important;
  background-color: #f5f5f5 !important;
  height: 11px !important;
  border-radius: 0 !important;
}

.dapplet-timeline-comments.progressbar.cc-base.timescope {
  height: 6px !important;
  border-radius: 9em !important;
}

.dapplet-timeline-comments.progressbar.cc-finish,
.dapplet-timeline-comments.cc.cc-finish.current-time {
  opacity: 1;
  background: none !important;
  border: none !important;
}

.dapplet-timeline-comments.progressbar.cc-finish > .bar {
  height: 9px !important;
  background-color: #588CA3;
  border: 1px solid #588CA3;
  top: -1px;
  border-radius: 0 !important;
}

.dapplet-timeline-comments.progressbar.cc-start {
  opacity: 1;
  background: none !important;
  border: none !important;
}

.dapplet-timeline-comments.progressbar.cc-start > .bar {
  opacity: 1;
  height: 12px !important;
  background-color: #f5f5f5 !important;
  top: -2px !important;
  border-radius: 0 !important;
}

.dapplet-timeline-comments.progressbar.cc-start > .bar::before {
  content: '';
  display: block;
  height: 6px;
  position: relative;
  top: 2px;
  border-radius: 1em;
  background-color: #e3e3e3;
}

.dapplet-timeline-comments.progressbar.cc-start > .bar::after {
  content: '';
  display: block;
  height: 4px;
  width: calc(100% - 1px);
  position: relative;
  top: -3px;
  left: 1px;
  border-radius: 1em;
  background-color: #f5f5f5;
}

.timeline-touch-area.cc-start,
.timeline-touch-area.cc-finish,
.timeline-touch-area.cc-point {
  height: 400px;
  top: -300px;
  left: -38px;
  z-index: 21000;
}

.dapplet-timeline-comments.timestamp.cc {
  padding: 0 !important;
}

.dapplet-timeline-comments.timestamp > .bar::before {
  position: absolute;
  color: #747376;
  padding: 3px 8px;
  background: white;
  border: 1px solid #D9304F;
  top: -6px;
  right: -2em;
  left: auto;
  border-radius: 99em;
  content: attr(data-timestamp);
  z-index: 5038;
}

.dapplet-timeline-comments.timestamp.cc-start > .bar::before {
  content: none;
}

.dapplet-timeline-comments.timestamp.cc-finish > .bar::before {
  color: #FFFFFF;
  font-size: 10px;
  top: 16px;
  left: auto;
  right: -11px;
  padding: 3px 5px;
  background: #D9304F !important;
  border: none !important;
  border-radius: 9em;
}

.dapplet-timeline-comments.timestamp.cc-start > .bar::after {
  position: absolute;
  content: attr(data-timestamp);
  color: #FFFFFF;
  font-size: 10px;
  top: -25px;
  left: auto;
  right: -23px;
  padding: 3px 5px;
  background: #D9304F !important;
  border: none !important;
  border-radius: 9em;
  z-index: 5039;
}

.dapplet-timeline-comments.activecomments > .bar::before {
  position: absolute;
  padding: 5px;
  top: -42px;
  right: -17px;
  left: auto;
  content: url("./point.svg");
  z-index: 5040;
}

.dapplet-timeline-comments.activecomments > .bar::after {
  position: absolute;
  color: white;
  width: 40px;
  padding: 5px;
  top: -35px;
  right: -20px;
  left: auto;
  text-align: center;
  content: attr(data-activecomments);
  z-index: 5041;
}

.dapplet-timeline-comments.point {
  background: none !important;
  padding: 0 !important;
}

.dapplet-timeline-comments.point > .bar,
.dapplet-timeline-comments.current-time > .bar {
  background: none !important;
}

.dapplet-timeline-comments.point.cc > .bar::before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  right: 0;
  left: auto;
  z-index: 5050;
  cursor: pointer;
  box-shadow: 5px 9px 7px 2px rgb(0 0 0 / 15%), 5px 14px 8px 2px rgb(38 117 209 / 3%);
  -webkit-animation: none !important;
  animation: none !important;
}

.dapplet-timeline-comments.point.cc-start > .bar::before,
.dapplet-timeline-comments.point.cc-finish > .bar::before {
  content: url("./cc_pointer.svg");
}

.dapplet-timeline-comments.point.cc-start.active > .bar::before,
.dapplet-timeline-comments.point.cc-finish.active > .bar::before {
  content: url("./cc_pointer_active.svg");
}

.dapplet-timeline-comments.point.cc-start > .bar::after,
.dapplet-timeline-comments.point.cc-finish > .bar::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px !important;
  right: -10px !important;
  left: auto !important;
  cursor: pointer;
  z-index: 15050;
  -webkit-animation: none !important;
  animation: none !important;
}

.dapplet-timeline-comments.point.timescope > .bar::before {
  content: '';
  width: 12px;
  height: 3px;
  top: -2px;
  box-shadow: 0px 9px 7px 2px rgb(0 0 0 / 15%), 0px 14px 8px 2px rgb(38 117 209 / 3%);
  cursor: default;
}

.dapplet-timeline-comments.point.cc-start.timescope > .bar::before {
  right: 0;
}

.dapplet-timeline-comments.point.cc-finish.timescope > .bar::before {
  right: -12px;
}

.dapplet-timeline-comments.point.timescope > .bar::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 11px;
  top: -2px !important;
  left: auto !important;
  right: 0 !important;
  cursor: pointer;
  z-index: 5049;
}

.top-2 {
  top: 2px !important;
}

.dapplet-timeline-comments.point.cc-start.timescope > .bar::after {
  background: 0 0 no-repeat url("./cc_point_start.svg");
  right: 0 !important;
}

.dapplet-timeline-comments.point.cc-finish.timescope > .bar::after {
  background: 0 0 no-repeat url("./cc_point_finish.svg");
  right: -12px !important;
}

.time-labels {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 19px 2px;
  color: #747376;
  font-size: 12px;
}

.time-labels.cc {
  margin: -4px -35px 5px;
  width: calc(100% + 108px);
  position: absolute;
  font-size: 10px;
}

.time-labels.cc.timescope {
  margin: -6px -35px 5px;
}

.time-labels.cc > div:nth-child(1) {
  width: 40px;
  text-align: end;
}

.time-labels.cc > div:nth-child(2) {
  width: 40px;
  text-align: start;
}

.dapplet-timeline-comments.cc.current-time > .bar::after {
  position: absolute;
  content: '';
  top: -51px;
  left: auto;
  right: -17.5px;
  width: 35px;
  height: 42px;
  cursor: pointer;
  background: 0 0 no-repeat url("./cc_current_time_plus.svg");
  transition: all .1s ease-in-out !important;
}

.dapplet-timeline-comments.cc.current-time.delete > .bar::after {
  background: 0 0 no-repeat url("./cc_current_time_minus.svg");
}

.dapplet-timeline-comments.cc.current-time.empty > .bar::after {
  background: 0 0 no-repeat url("./cc_current_time.svg");
}

.dapplet-timeline-comments.cc.current-time.point-cc > .bar::after {
  top: -3px;
  right: -10px;
  width: 18px;
  height: 18px;
  cursor: default;
  background: 0 0 no-repeat url("./cc_current_time_point.svg");
  z-index: 10000;
}

.dapplet-timeline-comments.cc.current-time.point-cc.pointer > .bar::after {
  cursor: pointer;
}

.trash-icon,
.trash-icon-selected {
  margin-right: .5rem !important;
}

.eye-icon,
.trash-icon {
  color: #2A2A2A;
  opacity: .4 !important;
  cursor: pointer;
}

.eye-icon:hover,
.trash-icon:hover {
  opacity: .8 !important;
}

.eye-icon:active,
.trash-icon:active {
  opacity: 1 !important;
}

.eye-icon-selected,
.trash-icon-selected  {
  color: #2A2A2A;
  opacity: .7 !important;
  cursor: pointer;
}

.eye-icon-selected:hover,
.trash-icon-selected:hover {
  opacity: .9 !important;
}

.eye-icon-selected:active,
.trash-icon-selected:active {
  opacity: 1 !important;
}

.eye-icon::before,
.trash-icon::before,
.eye-icon-selected::before,
.trash-icon-selected::before {
  padding: 5px;
}

.ui.page.modals.dimmer.transition.visible.active {
  z-index: 65000 !important;
}

.ui.small.modal.transition.visible.active {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: .5em 1.5em;
}

.comment-active {
  background-color: white !important;
}

.comment-inactive {
  background-color: #F5F5F5 !important;
}

.comment-selected {
  background-color: #DEE5E9 !important;
}

.comment-hidden {
  opacity: .4 !important;
}

.ui.comments .comment .avatar {
  height: 2.5em !important;
}

.no-comments {
  display: flex !important;
  position: relative;
  flex-direction: column;
  height: calc(45vh - 100px);
  justify-content: flex-end;
}

.dimmer {
  height: 100px;
}

.button-back {
  margin: 10px 10px 0;
  color: black;
  position: relative;
  display: flex;
  width: fit-content;
  align-items: baseline;
  opacity: .42;
}

.button-back:hover {
  opacity: .6;
}

.button-back:active {
  opacity: .8;
}

.button-back > button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.015em;
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

.button-back > button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}

.action-button {
  font-family: 'Roboto', sans-serif !important;
  width: fit-content;
  align-self: center;
  margin-top: 21px !important;
  min-height: 36px !important;
}

.action-button > button, .action-button.exact {
  background-color: #D9304F !important;
}

.action-button > button:hover, .action-button.exact:hover {
  background-color: #c72b48 !important;
}

.action-button > button:active, .action-button.exact:active {
  background-color: #A6253C  !important;
}

.second-level-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.second-level-page-text {
  display: flex;
  height: calc(40vh - 50px);
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.second-level-page-text h1 {
  font-family: 'Roboto';
  color: #2A2A2A;
}

.second-level-page-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #919191;
}

.sticker-card {
  display: flex !important;
  flex-direction: row !important;
  background: none !important;
  padding: 2px !important;
  cursor: pointer;
  transform: none !important;
}

.sticker-card img {
  background: none !important;
}

.sticker-card .checkbox {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin: 3px 7px !important;
}

.ui.checkbox input~.box:before, .ui.checkbox input~label:before {
  background: white !important;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background: #D9304F !important;
  border: 0 !important;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  color: #fff !important;
}

.stickers-container {
  margin: 10px 0 0 !important;
  height: 300px;
  resize: vertical;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 2px 16px 12px;
}

@media only screen and (max-width: 767px) {
  .ui.container.stickers-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }
}

.ui.four.cards>.card {
  display: flex !important;
  align-items: center !important;
  width: 78px !important;
  height: 78px !important;
}

.ui.four.cards>.card img {
  position: absolute;
  max-width: calc(100% - 4px) !important;
}

.authorisation-form {
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: calc(100vh - 130px);
}

a.ui.card:hover {
  transform: none !important;
}

.comment-button-like {
  background: center / contain no-repeat url("./heart_gray.svg");
  width: 20px;
  height: 20px;
  margin: 0 !important;
  transform: scale(1);
  transition: all .1s ease-in-out !important;
}

.comment-button-like:hover {
  transform: scale(1);
  background: center / contain no-repeat url("./heart.svg");
}

.comment-button-like.disabled:hover {
  transform: scale(1);
  background: center / contain no-repeat url("./heart_gray.svg");
}

.comment-button-like:active {
  background: center / contain no-repeat url("./heart.svg");
  transform: scale(.7);
}

.comment-button-like.liked {
  background: center / contain no-repeat url("./heart_filled.svg");
}

.comment-button-like.liked:active {
  background: center / contain no-repeat url("./heart_filled.svg");
  transform: scale(.7);
}

.comment-button-share {
  background: center / contain no-repeat url("./copy_gray.svg");
  width: 20px;
  height: 20px;
  margin-right: 24px !important;
  transform: scale(1);
  transition: all .1s ease-in-out !important;
}

.comment-button-share:hover {
  transform: scale(1);
  background: center / contain no-repeat url("./copy.svg");
}

.comment-button-share:active {
  background: center / contain no-repeat url("./copy.svg");
  transform: scale(.7);
}

.comment-button-share.shared {
  background: center / contain no-repeat url("./check_gray.svg");
}

.comment-button-share.shared:hover {
  transform: scale(1);
  background: center / contain no-repeat url("./check.svg");
}

.comment-button-share.shared:active {
  background: center / contain no-repeat url("./check.svg");
  transform: scale(.7);
}

.comments-sort {
  display: flex;
  align-items: baseline;
  font-family: 'Roboto';
  margin: 0 19px 10px;
}

.comments-sort > div:first-child {
  margin-right: 8px;
}

.comments-sort > .ui.selection.dropdown.dp-dropdown {
  min-width: 110px;
  border-radius: 8px;
  height: 30px;
  padding: 8px;
  min-height: 30px;
}

.comments-sort > .ui.selection.dropdown.dp-dropdown > i {
  padding: 8px;
}

.comments-sort > .ui.selection.dropdown.dp-dropdown > .menu {
  border-radius: 0 0 8px 8px;
}

.dp-header {
  display: flex;
  margin: 16px 19px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui.button.login-button {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
  border-radius: 99em;
  font-family: 'Roboto', sans-serif;
  color: #2A2A2A;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  padding: 7px 10px;
  margin-right: 0;
  transition: all .2s ease-in-out !important;
}

.ui.button.login-button:hover,
.ui.button.login-button:focus {
  background: #EAF0F0;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.login-button:active {
  background: #D1DEDE;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.login-button.bt-loading:hover,
.ui.button.login-button.bt-loading:focus {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.login-button.bt-loading:active {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.logout-button {
  background: none;
  font-family: 'Roboto', sans-serif;
  color: #2A2A2A;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  padding: 7px 0 7px 10px;
  margin-right: 0;
  border: none;
}

.ui.button.logout-button:hover,
.ui.button.logout-button:focus {
  background: none;
  color: #D9304F;
}

.ui.button.logout-button:active {
  background: none;
  color: #A6253C;
}

.user-info {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
  border-radius: 99em;
  font-family: 'Roboto', sans-serif;
  color: #2A2A2A;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  padding: 7px 10px 7px 32px;
  transition: all .2s ease-in-out !important;
}

.user-info > .user-image {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 99em;
}

.user-info.unlogged {
  padding: 7px 14px;
}

.user-info.unlogged > .user-image {
  background: left 0 / 24px no-repeat url('./purple-logo-icon.svg');
  opacity: .7;
}

.dp-title {
  margin: 1px 0 0 6px;
  font-family: 'Roboto', sans-serif;
  color: #a5a5a5;
  font-variant-caps: all-small-caps;
}

/* PLAYER */

.dp-player-container {
  display: flex;
  justify-content: center;
}

.dp-player {
  display: flex;
  width: 209px;
  justify-content: space-around;
  align-items: center;
}

.dp-arrow-to-from,
.dp-arrow-to-prev,
.dp-pause,
.dp-play,
.dp-repeat,
.dp-arrow-to-next,
.dp-arrow-to-to {
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.dp-arrow-to-from,
.dp-arrow-to-to {
  width: 22px;
  height: 19px;  
}

.dp-arrow-to-prev,
.dp-arrow-to-next {
  width: 19px;
  height: 19px;
}

.dp-pause,
.dp-repeat,
.dp-play {
  width: 53px;
  height: 53px;
}

.dp-arrow-to-from {
  background-image: url('./angle_to_from.svg');
}

.dp-arrow-to-from:hover {
  background-image: url('./angle_to_from_hover.svg');
}

.dp-arrow-to-from:active {
  background-image: url('./angle_to_from_active.svg');
}

.dp-arrow-to-prev {
  background-image: url('./angle_to_prev.svg');
}

.dp-arrow-to-prev:hover {
  background-image: url('./angle_to_prev_hover.svg');
}

.dp-arrow-to-prev:active {
  background-image: url('./angle_to_prev_active.svg');
}

.dp-pause {
  background-image: url('./pause.svg');
}

.dp-pause:hover {
  background-image: url('./pause_hover.svg');
}

.dp-pause:active {
  background-image: url('./pause_active.svg');
}

.dp-play {
  background-image: url('./play.svg');
}

.dp-play:hover {
  background-image: url('./play_hover.svg');
}

.dp-play:active {
  background-image: url('./play_active.svg');
}

.dp-repeat {
  background-image: url('./repeat.svg');
}

.dp-repeat:hover {
  background-image: url('./repeat_hover.svg');
}

.dp-repeat:active {
  background-image: url('./repeat_active.svg');
}

.dp-arrow-to-next {
  background-image: url('./angle_to_next.svg');
}

.dp-arrow-to-next:hover {
  background-image: url('./angle_to_next_hover.svg');
}

.dp-arrow-to-next:active {
  background-image: url('./angle_to_next_active.svg');
}

.dp-arrow-to-to {
  background-image: url('./angle_to_to.svg');
}

.dp-arrow-to-to:hover {
  background-image: url('./angle_to_to_hover.svg');
}

.dp-arrow-to-to:active {
  background-image: url('./angle_to_to_active.svg');
}
