@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #F4F4F4 !important;
  height: auto;
  max-height: 100px;
  font-family: Roboto, sans-serif !important;
}

.overlay-container {
  margin: 5px 10px;
}

.overlay-card {
  margin: 0 3px !important;
  padding: 4px 16px !important;
  width: auto !important;
  overflow-y: overlay;
  max-height: calc(100vh - 259px);
}

@media only screen and (max-width: 767px) {
  .ui.container.overlay-card {
      margin-left: 3px !important;
      margin-right: 3px !important;
  }
}

.default-badge {
  position: absolute;
  background-color: #5241bf;
  width: 35px;
  height: 35px;
  border-radius: 99em;
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dapplet-comments-menu {
  margin-top: 0 !important;
}

.dapplet-comments-menu > .item {
  margin-top: 1em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 100% !important;
  background-color: #F4F4F4 !important;
}

.ui.tabular.menu.dapplet-comments-menu .active.item.menu-active-tab {
  border-radius: 6px 6px 0 0 !important;
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.comment-header .author {
  margin-right: .5em !important;
}

.comment-header .metadata {
  margin-left: 0 !important;
  margin-right: .5em !important;
}

.dapplet-timeline-comments {
  margin: 0 19px !important;
}

.dapplet-double-timeline {
  position: relative;
  display: block;
  width: calc(100% - 36px);
  height: 40px;
  margin-top: 2em;
}

.dapplet-double-timeline.cc {
  margin: 1em auto 2em 25px;
  width: calc(100% - 90px);
}

.dapplet-timeline-comments {
  position: absolute !important;
  width: 100%;
}

.ui.progress.dapplet-timeline-comments .bar {
  min-width: 0 !important;
}

.dapplet-timeline-comments.timestamp {
  background: none !important;
  padding: 0 22px !important;
}

.dapplet-timeline-comments.timestamp > .bar {
  background: none !important;
}

.dapplet-timeline-comments.activecomments {
  background: none !important;
  padding: 0 22px !important;
}

.dapplet-timeline-comments.activecomments > .bar {
  background: none !important;
}

.dapplet-timeline-comments.progressbar {
  opacity: .2;
  border: 1px solid !important;
}

.dapplet-timeline-comments.progressbar.touch {
  top: 12px !important;
  z-index: 5055;
  opacity: 0 !important;
  cursor: pointer;
}

.timeline-touch-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -34px;
  cursor: grabbing;
  z-index: 9999;
  display: none;
}

/* --- CC Timeline --- */

.dapplet-timeline-comments.progressbar.cc-base {
  opacity: 1;
  border: 1px solid #e3e3e3 !important;
  background-color: #f5f5f5 !important;
}

.dapplet-timeline-comments.progressbar.cc-finish {
  opacity: 1;
  background: none !important;
  border: none !important;
}

.dapplet-timeline-comments.progressbar.cc-finish > .bar {
  height: calc(.5em + 2px) !important;
  background-color: #79F2E6;
  border: 1px solid #79F2E6;
}

.dapplet-timeline-comments.progressbar.cc-start {
  opacity: 1;
  background: none !important;
  border: none !important;
}

.dapplet-timeline-comments.progressbar.cc-start > .bar {
  opacity: 1;
  height: calc(.5em + 2px) !important;
  border: 1px solid #e3e3e3 !important;
  background-color: #f5f5f5 !important;
}

.timeline-touch-area.cc-finish {
  height: 400px;
  top: -300px;
  left: -30px;
}

.timeline-touch-area.cc-start {
  height: 400px;
  top: -300px;
  left: -30px;
}

.dapplet-timeline-comments.timestamp.cc {
  padding: 0 !important;
}

.dapplet-timeline-comments.timestamp > .bar::before {
  position: absolute;
  color: #747376;
  padding: 3px 8px;
  background: white;
  border: 1px solid #5241bf;
  top: -6px;
  right: -2em;
  left: auto;
  border-radius: 99em;
  content: attr(data-timestamp);
  z-index: 5038;
}

.dapplet-timeline-comments.timestamp.cc-start > .bar::before {
  content: none;
}

.dapplet-timeline-comments.timestamp.cc-finish > .bar::before {
  background: none !important;
  border: none !important;
  padding: 3px 0;
  top: 19px;
  font-size: 14px;
  right: auto;
  left: 100%;
}

.dapplet-timeline-comments.timestamp.cc-start > .bar::after {
  position: absolute;
  color: #747376;
  padding: 3px 0;
  content: attr(data-timestamp);
  z-index: 5039;
  background: none !important;
  border: none !important;
  font-size: 14px;
  top: 19px;
  right: 0;
  left: auto;
}

.dapplet-timeline-comments.activecomments > .bar::before {
  position: absolute;
  padding: 5px;
  top: -42px;
  right: -17px;
  left: auto;
  content: url("./point.svg");
  z-index: 5040;
}

.dapplet-timeline-comments.activecomments > .bar::after {
  position: absolute;
  color: white;
  width: 40px;
  padding: 5px;
  top: -35px;
  right: -20px;
  left: auto;
  text-align: center;
  content: attr(data-activecomments);
  z-index: 5041;
}

.dapplet-timeline-comments.point {
  background: none !important;
  padding: 0 !important;
}

.dapplet-timeline-comments.point > .bar {
  background: none !important;
}

.dapplet-timeline-comments.point.cc > .bar::before {
  position: absolute;
  top: -10px;
  right: -12px;
  left: auto;
  z-index: 5048;
  cursor: pointer;
}
.dapplet-timeline-comments.point.cc-finish > .bar::before {
  content: url("./cc_pointer_finish.svg");
}

.dapplet-timeline-comments.point.cc-start > .bar::before {
  content: url("./cc_pointer_start.svg");
}

.time-labels {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 19px 2px;
  color: #747376;
  font-size: 12px;
}

.time-labels.cc {
  margin: 0 4px 5px;
  width: calc(100% + 30px);
}

.trash-icon,
.trash-icon-selected {
  margin-right: .5rem !important;
}

.eye-icon,
.trash-icon {
  color: #2A2A2A;
  opacity: .4 !important;
  cursor: pointer;
}

.eye-icon:hover,
.trash-icon:hover {
  opacity: .8 !important;
}

.eye-icon:active,
.trash-icon:active {
  opacity: 1 !important;
}

.eye-icon-selected,
.trash-icon-selected  {
  color: #2A2A2A;
  opacity: .7 !important;
  cursor: pointer;
}

.eye-icon-selected:hover,
.trash-icon-selected:hover {
  opacity: .9 !important;
}

.eye-icon-selected:active,
.trash-icon-selected:active {
  opacity: 1 !important;
}

.eye-icon::before,
.trash-icon::before,
.eye-icon-selected::before,
.trash-icon-selected::before {
  padding: 5px;
}

.ui.page.modals.dimmer.transition.visible.active {
  z-index: 65000 !important;
}

.ui.small.modal.transition.visible.active {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: .5em 1.5em;
}

.comment-active {
  background-color: white !important;
}

.comment-inactive {
  background-color: #F5F5F5 !important;
}

.comment-selected {
  background-color: rgba(120, 242, 230, 0.15) !important;
}

.comment-hidden {
  opacity: .4 !important;
}

.ui.comments .comment .avatar {
  height: 2.5em !important;
}

.no-comments {
  display: flex !important;
  position: relative;
  flex-direction: column;
  height: calc(45vh - 100px);
  justify-content: flex-end;
}

.dimmer {
  height: 100px;
}

.button-back {
  margin: 10px 10px 0;
  color: black;
  position: relative;
  display: flex;
  width: fit-content;
  align-items: baseline;
  opacity: .42;
}

.button-back:hover {
  opacity: .6;
}

.button-back:active {
  opacity: .8;
}

.button-back > button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.015em;
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

.button-back > button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}

.action-button {
  font-family: Roboto, sans-serif !important;
  width: fit-content;
  align-self: center;
  margin-top: 21px !important;
  min-height: 36px !important;
}

.action-button > button, .action-button.exact {
  background-color: #5241bf !important;
}

.action-button > button:hover, .action-button.exact:hover {
  background-color: #5041ac !important;
}

.action-button > button:active, .action-button.exact:active {
  background-color: #4e419c  !important;
}

.authorisation-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.authorisation-page-text {
  display: flex;
  height: calc(40vh - 50px);
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.authorisation-page-text h1 {
  font-family: Roboto;
  color: #2A2A2A;
}

.authorisation-page-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #919191;
}

.sticker-card {
  display: flex !important;
  flex-direction: row !important;
  background: none !important;
  padding: 2px !important;
  cursor: pointer;
  transform: none !important;
}

.sticker-card img {
  background: none !important;
}

.sticker-card .checkbox {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin: 3px 7px !important;
}

.ui.checkbox input~.box:before, .ui.checkbox input~label:before {
  background: white !important;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background: #5241bf !important;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  color: #fff !important;
}

.stickers-container {
  margin: 10px 0 0 !important;
  height: 300px;
  resize: vertical;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 2px 16px 12px;
}

@media only screen and (max-width: 767px) {
  .ui.container.stickers-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }
}

.ui.four.cards>.card {
  display: flex !important;
  align-items: center !important;
  width: 78px !important;
  height: 78px !important;
}

.ui.four.cards>.card img {
  position: absolute;
  max-width: calc(100% - 4px) !important;
}

.authorisation-form {
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: calc(100vh - 130px);
}

a.ui.card:hover {
  transform: none !important;
}

.comment-button-like {
  background: no-repeat url("./heart_gray.svg");
  width: 20px;
  height: 20px;
  margin: 4px 0 0 !important;
  transform: scale(1);
  transition: all .1s ease-in-out !important;
}

.comment-button-like:hover {
  transform: scale(1);
  background: no-repeat url("./heart.svg");
}

.comment-button-like.disabled:hover {
  transform: scale(1);
  background: no-repeat url("./heart_gray.svg");
}

.comment-button-like:active {
  background: no-repeat url("./heart.svg");
  transform: scale(.7);
}

.comment-button-like.liked {
  background: no-repeat url("./heart_filled.svg");
}

.comment-button-like.liked:active {
  background: no-repeat url("./heart_filled.svg");
  transform: scale(.7);
}

.comments-sort {
  display: flex;
  align-items: baseline;
  font-family: 'Roboto';
}

.comments-sort > div:first-child {
  margin-right: 8px;
}

.comments-sort > .ui.selection.dropdown.dp-dropdown {
  min-width: 110px;
  border-radius: 8px;
  height: 30px;
  padding: 8px;
  min-height: 30px;
}

.comments-sort > .ui.selection.dropdown.dp-dropdown > i {
  padding: 8px;
}

.comments-sort > .ui.selection.dropdown.dp-dropdown > .menu {
  border-radius: 0 0 8px 8px;
}

.dp-header {
  display: flex;
  margin: 16px 19px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui.button.login-button {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
  border-radius: 99em;
  font-family: Roboto, sans-serif;
  color: #2A2A2A;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  padding: 7px 10px;
  margin-right: 0;
  transition: all .2s ease-in-out !important;
}

.ui.button.login-button:hover,
.ui.button.login-button:focus {
  background: #EAF0F0;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.login-button:active {
  background: #D1DEDE;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.login-button.bt-loading:hover,
.ui.button.login-button.bt-loading:focus {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.login-button.bt-loading:active {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
}

.ui.button.logout-button {
  background: none;
  font-family: Roboto, sans-serif;
  color: #2A2A2A;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  padding: 7px 0 7px 10px;
  margin-right: 0;
  border: none;
}

.ui.button.logout-button:hover,
.ui.button.logout-button:focus {
  background: none;
  color: #D9304F;
}

.ui.button.logout-button:active {
  background: none;
  color: #A6253C;
}

.user-info {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 9%), 0px 2px 2px rgb(38 117 209 / 4%);
  border-radius: 99em;
  font-family: Roboto, sans-serif;
  color: #2A2A2A;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  padding: 7px 10px 7px 32px;
  transition: all .2s ease-in-out !important;
}

.user-info > .user-image {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 99em;
}

.user-info.unlogged {
  padding: 7px 14px;
}

.user-info.unlogged > .user-image {
  background: left 0 / 24px no-repeat url('./purple-logo-icon.svg');
  opacity: .7;
}

.dp-title {
  margin: 1px 0 0 6px;
  font-family: 'Roboto', sans-serif;
  color: #a5a5a5;
  font-variant-caps: all-small-caps;
}
